body {
    margin: 0;
    font-family: 'Heebo', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}


/*HEADER*/
.navbar ul{
    display: flex;
    justify-content: flex-end;
    gap: 33px;
    padding: 27px;
    list-style: none;
}
.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}


/*MAIN*/
.man {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
}
.left-man {
    width: 45%;
}
.left-man h1 {
    font-weight: 700;
    font-size: 44px;
    color: #21243D;
}
.left-man p {
    font-weight: 400;
    font-size: 16px;
    color: #21243D;
}
.left-man button {
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    background: #FF6464;
    border: 0;
    padding: 9px 21px 17px;
    margin-top: 38px;
}
.right-man {
    padding-right: 40px;
}
/*RECENTPOSTs*/
.recentPosts {
    background: #EDF7FA;
    padding: 35px 0;
}
.recentPosts_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.recentPosts_title h2 {
    font-weight: 400;
    font-size: 22px;
    color: #21243D;
}
.recentPosts_title a {
    font-weight: 400;
    font-size: 16px;
    color: #00A8CC;
    text-decoration: none;
}
.recentPosts_wrapper {
    display: flex;
    justify-content: space-between;
}
.recentPosts_card {
    width: 43%;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    padding: 24px;
}
.recentPosts_card h2 {
    font-weight: 700;
    font-size: 26px;
    color: #21243D;
}
.date {
    display: flex;
    gap: 26px;
}
.date p {
    font-weight: 400;
    font-size: 18px;
    color: #21243D;
}
.recentPosts_card .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    padding-right: 60px;
}